@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
/* Color Palette */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif, FontAwesome;
}

body {
  background-color: #403F4C;
}
body .container, body .task-list, body .task, body .task label, body .task-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}
body .container {
  min-height: 100vh;
  align-items: start;
  padding: 2em 1em;
}
body .container .list-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 35px;
  position: relative;
}
body .container .list-container .list-form .input-group {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 15px !important;
  flex-wrap: wrap;
}
body .container .list-container .list-form .input-group span {
  font-size: 14px;
  background-color: #0069db;
  color: white;
  border-color: #3185FC;
}
body .container .list-container .list-form .input-group input {
  color: #403F4C;
  border-color: #3185FC;
  border-left-color: #403F4C;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  line-height: 1.75;
  border-radius: 0 5px 5px 0 !important;
}
body .container .list-container .list-form .input-group input::-moz-placeholder {
  font-weight: normal;
  opacity: 0.65;
}
body .container .list-container .list-form .input-group input::placeholder {
  font-weight: normal;
  opacity: 0.65;
}
body .container .list-container .list-form .input-group small {
  width: 100%;
  opacity: 0.5;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  color: white;
  margin-top: 5px;
  cursor: default;
}
body .container .list-container .list-form .task-list-controls {
  width: 70%;
  padding: 0.5rem 1em;
  border-radius: 5px;
  margin: 0 auto;
  text-align: center;
  background-color: #3185FC;
  border: 1px solid #0069db;
}
body .container .list-container .list-form .task-list-controls #title {
  font-size: 14px;
  text-align: center;
  font-weight: bold;
  color: white;
  cursor: default;
}
body .container .list-container .list-form .task-list-controls .btn-group {
  width: 100%;
  margin: 10px 0;
}
body .container .list-container .list-form .task-list-controls .btn-group .active, body .container .list-container .list-form .task-list-controls .btn-group button:hover {
  background-color: #0069db;
}
body .container .list-container .list-form .task-list-controls .btn-group button {
  font-size: 14px;
  color: white;
  border-color: #403F4C;
}
body .container .list-container .list-form .task-list-controls #clear-button {
  font-size: 14px;
  margin-top: 5px;
  background-color: #E84855;
  border-color: #403F4C;
}
body .container .list-container .list-form .task-list-controls #clear-button:hover {
  background-color: #dc3545;
}
body .container .list-container .task-list {
  width: 50%;
  min-height: 200px;
  position: relative;
  flex-direction: column;
  justify-content: start;
  margin: 0 auto;
  margin-top: 25px;
  border-radius: 5px;
  padding: 1.5rem;
  background-color: #F9DC5C;
  border: 1px solid #403F4C;
  outline: inset;
  outline-width: 1px;
  outline-offset: -0.85rem;
  outline-color: #403F4C;
}
body .container .list-container .task-list::before, body .container .list-container .task-list::after {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  z-index: -1;
  border-radius: 5px;
  background-color: #c4ac2a;
  border: 1px solid #403F4C;
}
body .container .list-container .task-list::before {
  transform: rotate(5deg);
}
body .container .list-container .task-list::after {
  transform: rotate(2deg);
}
body .container .list-container .task-list span { /* Empty List */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  color: #dc3545;
  font-weight: bold;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  opacity: 0.75;
}
body .container .list-container .task-list .task {
  width: 100%;
  justify-content: space-between;
  flex-wrap: nowrap;
  list-style: none;
  color: #403F4C;
  border-bottom: 1px dashed #403F4C;
  margin-bottom: 8px;
  padding-bottom: 8px;
}
body .container .list-container .task-list .task:last-child {
  margin-bottom: 0;
  border-bottom: 0;
}
body .container .list-container .task-list .task label {
  width: -moz-fit-content;
  width: fit-content;
  flex-wrap: nowrap;
}
body .container .list-container .task-list .task label input[type=checkbox] {
  margin: 0;
  cursor: pointer;
  accent-color: #dc3545;
}
body .container .list-container .task-list .task label p {
  font-size: 15px;
  word-break: break-all;
  text-align: justify;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  margin-bottom: 0;
  margin-left: 10px;
  color: #000;
}
body .container .list-container .task-list .task label p::first-letter {
  text-transform: uppercase;
}
body .container .list-container .task-list .task label .checked {
  opacity: 0.5;
  font-size: 15px;
  font-weight: bold;
}
body .container .list-container .task-list .task .settings {
  position: relative;
}
body .container .list-container .task-list .task .settings i {
  padding-left: 5px;
  cursor: pointer;
  transition: all 0.25s;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-style: normal;
  color: #403F4C !important;
}
body .container .list-container .task-list .task .settings i:hover {
  color: #dc3545 !important;
}
body .container .list-container .task-list .task .settings .task-menu.show {
  scale: 1;
}
body .container .list-container .task-list .task .settings .task-menu {
  position: absolute;
  right: 0;
  flex-wrap: nowrap;
  text-align: center;
  padding: 0;
  z-index: 1;
  scale: 0;
  transition: transform 0.2s ease-in-out;
}
body .container .list-container .task-list .task .settings .task-menu li {
  width: 55px;
  margin: 0;
  padding: 0.5rem;
  cursor: pointer;
  list-style: none;
  transition: all 0.25s;
  font-size: 12px;
  color: white;
  background-color: #403F4C;
  border: 1px solid #FFF;
}
body .container .list-container .task-list .task .settings .task-menu li:first-child {
  border-radius: 5px 0 0 5px;
  border-right: 1px dotted white;
}
body .container .list-container .task-list .task .settings .task-menu li:last-child {
  border-radius: 0 5px 5px 0;
  border-left: 0;
}
body .container .list-container .task-list .task .settings .task-menu li:first-child:hover {
  color: #F9DC5C;
}
body .container .list-container .task-list .task .settings .task-menu li:last-child:hover {
  color: #E84855;
}
body .container .list-container .alert {
  position: absolute;
  bottom: -25%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  border-color: #403F4C;
  font-size: 18px;
}
@media screen and (max-width: 1024px) {
  body .list-container .task-list-controls {
    width: 100% !important;
  }
  body .list-container .task-list {
    width: 80% !important;
  }
  body .list-container .task-list .task p {
    font-size: 14px;
  }
}/*# sourceMappingURL=styles.css.map */