@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* Color Palette */
$onyx: #403F4C;
$redCrayola: #E84855;
$redCrayolaShadow: #dc3545;
$naplesYellow: #F9DC5C;
$azure: #3185FC;
$azureShadow: #0069db;
$fairyTale: #EFBCD5;

* { 
    padding: 0; margin: 0; box-sizing: border-box;
    font-family: 'Montserrat', sans-serif, FontAwesome;
}

body {
    background-color: $onyx;
    .container, .task-list, .task, .task label, .task-menu {
        display: flex; align-items: center; justify-content: center; flex-wrap: wrap; flex-direction: row;
    }

    .container {
        min-height: 100vh; align-items: flex-start; padding: 1em; 
        .list-container {
            width: 600px;
            border-radius: 10px;          
            .list-form {
                padding: 0.5rem; border-radius: 5px; margin-bottom: 45px;
                background-color: $azure; 
                .input-group {      
                    margin: 0 !important;
                    span {
                        background-color: $onyx; color: white;
                        border: 0;
                    }
                    input { 
                        color: $onyx; border-color: $onyx;
                        font-size: 16px; font-weight: bold; font-style: normal;
                        &::placeholder {
                            font-size: 15px; font-weight: normal; font-style: italic;
                        }
                    }
                }    
                .task-list-controls {
                    margin-top: 5px; text-align: center;                    
                    .btn-group {
                        width: 100%;
                        margin-bottom: 5px;
                        .active, button:hover { background-color: $azureShadow; }
                        button {
                            color: white; border-color: $onyx;
                        }
                    }
                    #clear-button {
                        width: 100%; margin-bottom: 5px;
                        background-color: $redCrayola; border-color: $onyx;
                        &:hover { background-color: $redCrayolaShadow; }
                    }
                    #dateValue {
                        font-size: 14px; letter-spacing: 1px; font-weight: bold;
                        color: white; user-select: none;
                    }
                }
            }                    
            .task-list {
                width: 75%; min-height: 350px; position: relative; flex-direction: column; justify-content: start;
                margin: 0 auto; border-radius: 5px; padding: 0.5rem;
                background-color: $naplesYellow; border: 1px solid $onyx;
                &::before, &::after {
                    width: 100%; height: 100%; position: absolute; top: 0; left: 0;
                    content: ''; z-index: -1; border-radius: 5px; 
                    background-color: #c4ac2a; border: 1px solid $onyx;
                }
                &::before { transform: rotate(10deg); }
                &::after { transform: rotate(5deg); }                
                span { 
                    width: 100%; position: absolute; top: 45%;  
                    font-size: 20px; text-align: center; color: $redCrayola; user-select: none;
                }
                .task {
                    width: 100%; justify-content: space-between; flex-wrap: nowrap;
                    list-style: none; color: $onyx; border-bottom: 1px solid rgba(64, 63, 76, 0.7);     
                    margin-bottom: 5px; padding-bottom: 5px; 
                    &:last-child { margin-bottom: 0; border-bottom: 0; }
                    label {
                        width: fit-content; flex-wrap: nowrap;
                        input[type = checkbox] {                            
                            margin: 0; cursor: pointer;
                            accent-color: $redCrayola;
                        }
                        p {
                            font-size: 16px; word-break: break-all; text-align: justify;
                            user-select: none; margin-bottom: 0; margin-left: 10px;                                                   
                            &::first-letter { text-transform: uppercase; }
                        }
                        .checked { opacity: .6; font-style: italic; 
                            &::after {
                                content: "\f00c"; margin-left: 8px;
                                font-size: 9px; font-weight: bold;
                            }
                        }
                    }                    

                    .settings {
                        position: relative;
                        i {
                            padding-left: 5px;
                            cursor: pointer; transition: all 0.25s;
                            font-style: normal; color: $onyx !important; 
                            &:hover { color: $redCrayolaShadow !important; } 
                        }                        
                        .task-menu.show{ scale: 1; }
                        .task-menu {
                            flex-wrap: nowrap; position: absolute; right: 0; 
                            text-align: center;
                            background: white; border: 1px solid $onyx;                            
                            border-radius: 5px; padding: 0; z-index: 1; scale: 0;
                            transition: transform 0.2s ease-in-out;
                            li {
                                width: 55px;
                                margin: 0; padding: 0.5rem;
                                cursor: pointer; list-style: none; transition: all 0.25s;
                                font-size: 12px; 
                                color: white; background-color: $onyx;

                                &:first-child { border-right: 1px dotted white; } 
                                &:first-child:hover { color: $naplesYellow; }
                                &:last-child:hover { color: $redCrayola; }
                            }
                        }
                    }
                }
            }            
            .alert {
                position: absolute; left: 50%; transform: translate(-50%, -50%);
                margin: 0; border-color: $onyx;
            }
        }
    }
    .modal-dialog {
        max-width: fit-content;
        .modal-content {
            border-color: white;
            .modal-body {
                color: white; background-color: $redCrayolaShadow;
                border-radius: 5px; border-top-right-radius: 8px; border-top-left-radius: 8px;
                p { 
                    font-weight: bold;
                    margin-bottom: 0; user-select: none; 
                }
            }
            .modal-footer {
                background-color: $onyx;
                button {
                    border-color: $onyx;
                    &:first-child { background-color: $azure; &:hover { background-color: $azureShadow; } }
                    &:last-child { background-color: $redCrayola; &:hover { background-color: $redCrayolaShadow; } }
                }
            }
        }
    } 
    
    @media screen and (max-width: 1024px) {
        .input-group {
            input {
                &::placeholder { font-size: 13px !important; }
            }
        }
        .task-list-controls {
            #clear-button { margin-bottom: 0 !important; }
            #dateValue { font-size: 10px !important; }
        }
        .task-list { 
            width: 90% !important; 
            .task {
                p { font-size: 14px !important; }
            }
        }        
    }
}

