@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* Color Palette */
$onyx: #403F4C; $redCrayola: #E84855; $redCrayolaShadow: #dc3545; $naplesYellow: #F9DC5C; $azure: #3185FC; $azureShadow: #0069db; $fairyTale: #EFBCD5;

* { 
    padding: 0; margin: 0; box-sizing: border-box;
    font-family: 'Montserrat', sans-serif, FontAwesome;
}

body {
    background-color: $onyx;
    .container, .task-list, .task, .task label, .task-menu {
        display: flex; align-items: center; justify-content: center; flex-wrap: wrap; flex-direction: row;
    }

    .container {
        min-height: 100vh; align-items: start; padding: 2em 1em; 

        .list-container {
            width: 100%; display: flex; flex-direction: column; row-gap: 35px; position: relative;
            .list-form {               
                .input-group {  
                    width: 70%;
                    margin: 0 auto; margin-bottom: 15px !important; flex-wrap: wrap;
                    span {
                        font-size: 14px;
                        background-color: $azureShadow; color: white; border-color: $azure;
                    }
                    input {                         
                        color: $onyx; border-color: $azure; border-left-color: $onyx;
                        font-size: 16px; font-weight: bold; font-style: normal; line-height: 1.75;
                        border-radius: 0 5px 5px 0 !important;
                        &::placeholder { font-weight: normal; opacity: .65; }
                    }
                    small {
                        width: 100%; opacity: .5;
                        text-align: center; font-size: 12px; font-weight: 600; color: white;
                        margin-top: 5px; cursor: default;
                    }
                }    

                .task-list-controls {
                    width: 70%;
                    padding: 0.5rem 1em; border-radius: 5px; margin: 0 auto; text-align: center;
                    background-color: $azure; border: 1px solid $azureShadow;

                    #title {
                        font-size: 14px; text-align: center; font-weight: bold; color: white;
                        cursor: default;
                    }
                    .btn-group {
                        width: 100%;
                        margin: 10px 0;

                        .active, button:hover { background-color: $azureShadow; }
                        button {
                            font-size: 14px;
                            color: white; border-color: $onyx;
                        }
                    }
                    #clear-button {
                        font-size: 14px;
                        margin-top: 5px;
                        background-color: $redCrayola; border-color: $onyx;
                        &:hover { background-color: $redCrayolaShadow; }
                    }
                }
            } 

            .task-list {
                width: 50%; min-height: 200px; position: relative; flex-direction: column; justify-content: start;
                margin: 0 auto; margin-top: 25px; border-radius: 5px; padding: 1.5rem;
                background-color: $naplesYellow; border: 1px solid $onyx;
                outline: inset; outline-width: 1px; outline-offset: -0.85rem; outline-color: $onyx; 

                &::before, &::after {
                    width: 100%; height: 100%; position: absolute; top: 0; left: 0;
                    content: ''; z-index: -1; border-radius: 5px; 
                    background-color: #c4ac2a; border: 1px solid $onyx;
                }
                &::before { transform: rotate(5deg); }
                &::after { transform: rotate(2deg); }     
                
                span { /* Empty List */
                    position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);
                    font-size: 16px; color: $redCrayolaShadow; font-weight: bold; 
                    user-select: none; opacity: .75;
                }

                .task {
                    width: 100%; justify-content: space-between; flex-wrap: nowrap;
                    list-style: none; color: $onyx; border-bottom: 1px dashed $onyx;     
                    margin-bottom: 8px; padding-bottom: 8px; 
                    &:last-child { margin-bottom: 0; border-bottom: 0; }

                    label {
                        width: fit-content; flex-wrap: nowrap;
                        input[type = checkbox] {                            
                            margin: 0; cursor: pointer;
                            accent-color: $redCrayolaShadow;
                        }
                        p {
                            font-size: 15px; word-break: break-all; text-align: justify;
                            user-select: none; margin-bottom: 0; margin-left: 10px; color: #000;                                             
                            &::first-letter { text-transform: uppercase; }
                        }
                        .checked { opacity: .5; font-size: 15px; font-weight: bold; }
                    }                    

                    .settings {
                        position: relative;
                        i {
                            padding-left: 5px;
                            cursor: pointer; transition: all 0.25s; user-select: none;
                            font-style: normal; color: $onyx !important; 
                            &:hover { color: $redCrayolaShadow !important; } 
                        }            

                        .task-menu.show { scale: 1; }
                        .task-menu {
                            position: absolute; right: 0; flex-wrap: nowrap;
                            text-align: center;
                            padding: 0; z-index: 1; scale: 0; transition: transform 0.2s ease-in-out;

                            li {
                                width: 55px;
                                margin: 0; padding: 0.5rem; 
                                cursor: pointer; list-style: none; transition: all 0.25s;
                                font-size: 12px; 
                                color: white; background-color: $onyx; border: 1px solid #FFF;

                                &:first-child { border-radius: 5px 0 0 5px; border-right: 1px dotted white; } 
                                &:last-child { border-radius: 0 5px 5px 0; border-left: 0; }
                                &:first-child:hover { color: $naplesYellow; }
                                &:last-child:hover { color: $redCrayola; }
                            }
                        }
                    }
                }
            }         

            .alert {  
                position: absolute; bottom: -25%; left: 50%; transform: translate(-50%, -50%);
                margin: 0; border-color: $onyx;
                font-size: 18px;
            }
        }
    }
    
    @media screen and (max-width: 1024px) {
        .list-container {
            .task-list-controls { width: 100% !important; }
            .task-list {
                width: 80% !important;
                .task {
                    p { font-size: 14px; }
                }
            }
        }
    }
}